.Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}


.maincontainer{
  width: auto;
  min-height: 1rem;
  margin-top: 4rem;
}


.foam-container {
  opacity: 0.8;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  /* justify-content: space-between; */
}

.foam-container .footer button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 21rem;
  height: 40px;
  border: 2px solid black;
  background-color: black;
  font-weight: bold;
  color: white;
  font-size: large;
  border-radius: 7px;
  cursor: pointer;
}


.signup {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}

.body{
  margin: 2rem 0rem;
}

.signup input {
  margin: 10px;
  width: 21rem;
  height: 40px;
  padding-left: 2rem;
  font-size: small;
  font-weight: 600;
  color: black;
  font-family: "Fredoka";
  border-color: black;
  border-radius: 12px;
  outline: none;
  background: transparent;
}

.signup input ::placeholder {
  font-size: small;
  font-weight: 600;
  color: black;
  font-family: "Fredoka";
}

.signup input:focus {
  border-color: 10px rgb(54, 54, 179);
}


.signup input:hover {
  border-color: rgb(61, 61, 239);
}



.header {
  align-items: center;
  justify-content: center;
  margin: auto;
}

.Hading1{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#Footer-last{
  font-size: "small";
  margin-top: 10rem; 
}