.sidebar {
  position: fixed;
  right: -200px; /* Start off-screen */
  top: 5rem;
  width: 200px;
  height: 20%;
  /* background-color: #bd1f1f; */
  transition: right 0.3s ease; /* Smooth transition */
}

.sidebar.opens {
  right: 0; 
}

.sidebar-cont {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 20px;
}

.sidebar-cont button {
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}
