.Containers{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    margin: 1rem 1rem;
}

#horizontal{
    overflow-y: scroll;
    width: 550px;
    height: 300px;
   
}

.data{
    margin: 1rem 1rem;
}

.data input{
    padding: 9px 0;
    border-radius: 5px;
    border-color: rgb(144, 150, 164);
    width: 7rem;
    padding-left: 1rem;
    color: black;
    font-family: "Fredoka";
    font-weight: 600;
    font-size: small;
    
}

.data input:focus {
    border-color: 10px rgb(54, 54, 179);
  }
  
  
  .data input:hover {
    border-color: rgb(61, 61, 239);
  }

.multi-Head{
    margin-bottom: 1rem;
    font-family: "Fredoka";
}